.Episode {
    width: 100%;
    display:grid;
    grid-template-columns: 15% auto 58%;
    height: 6rem;
    border-bottom:1px solid #01141f;
}

.EpisodeNumber{
    background: rgba(0, 0, 0, 0.2);
    color: #ffd700;
    font-weight: bold;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.EpisodeImageContainer{
    height: inherit;
    position: relative;
}

.EpisodeImage {
    /* object-fit: cover;
    max-width: 100%;
    max-height: 100%; */
    margin:0 auto;
    position: relative;
    height: inherit;
    width: 100%;
    object-fit: cover;
    object-position: center; 
    border-bottom:1px solid #01141f;
}

.EpisodeFavorite {
    position: absolute;
    bottom: 5px;
    left:5px;
    cursor: pointer;
    /* background: black; */
}

.EpisodeDetailsContainer {
    display:block;
    margin: auto 0;
    font-size: 0.9em;
    padding: 0 10px;
}

.EpisodeTitle{
    color: #ffd700;

    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
    white-space: nowrap;
    
}

.EpisodeMetaContainer{
    font-size: 0.8em;
    color: white;
}

.EpisodeLabel {
    padding:3px 5px;
    background-color: #115173;
    border-radius: 5px;
    color: white;
    line-height: 25px;
}

.EpisodeDescription{
    font-size: 0.8em;
    color: white;
    text-align: justify;
    overflow-y: auto;
    max-height: 45px;
    padding-right: 5px;
}

/* @media (max-width: ) */