.TimelineContainer {
    /* grid-template-columns: 25% auto 25%;
    display: grid;
    grid-column-gap: 10px; */
    margin: 0 10px;
    margin-top:3.5em;
    box-sizing: border-box;
}

/* Pionowa linia - pozycjonowanie */
.Timeline{          
    position: relative;
    max-width: 1000vh;
    margin: 0 auto;
}


/* Pionowa linia wygląd */
.Timeline::after{
    content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


/* kontener na wydarzenie */
.Event {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* punkt na linii */
.Event::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -12px;
    background-color: white;
    border: 4px solid #053F5D;
    top: 9px;
    border-radius: 50%;
    z-index: 1;
}
/* pozycjonowanie kontenera */
/* LEWY */
.Event:nth-child(odd) {
  left: 0;
}
.Event:nth-child(odd) .EventHeader {
text-align: right;
}

/* PRAWY */
.Event:nth-child(even) {      
  left: 50%;
}
.Event:nth-child(even) .EventHeader {
  text-align: left;
  }

.Event:nth-child(even)::after {
  left: -11px;
}



/* pozycjonowanie kontenera */
/* .left {
    left: 0;
  }
.right {
    left: 50%;
}
.right::after {
    left: -11px;
} */

/* formatiowanie lini przerywanej */
hr.timeline {
    border: 1px dashed white;
}

.hrDescription {
    font-size: 0.7em;
}

  /* objekt wydarzenia */
.Content {
    padding: 20px 30px;
  background-color: rgb(22, 78, 105);
  position: relative;
  border-radius: 6px;
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap:10px;
  width:100%;
}

.Detailed {
/* flex-direction: column; */
grid-template-columns: auto;
}

/* /nagłówek dla wydarzenia */
.EventHeader {
  padding: 5px;
  color:#ffd700;
}

.TimelineEmptyContainer {
  height: 50%;
  width: 50%;
  margin:0 auto;
  margin-top:50px;
  position: relative;
}


.TimelineEmpty {
    margin:0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: top; 
    overflow: hidden;
}

.Button {
  padding: 10px 15px;
  margin-right: 10px;
  color: white;
  border: none;
  border-right: 4px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Button.Proceed {
  background-color: rgb(5, 93, 31);
}

.Button.Cancel {
  background-color: rgb(93, 5, 20);
}

.Button:hover {
  border-right: 4px solid #ffd700;
}


/* media queries i zmiana pozycjonowania na prawe */
@media screen and (max-width: 1030px) {
    
      .Timeline::after {
        left: 31px;
      }
    
    /* Full-width containers */
      .Event {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
      .Event:nth-child(odd)::after, .Event:nth-child(even)::after {
        left: 20px;
      }
    
    /* Make all right containers behave like the left ones */
      .Event:nth-child(even) {
        left: 0%;
      }

      .Event:nth-child(odd) .EventHeader,
      .Event:nth-child(even) .EventHeader {
        text-align: left;
      }

      .hrDescription {
        text-align: right;  
    }

    }

@media screen and (max-width: 600px) {
.Content {
  grid-template-columns: auto auto;
}
.Detailed {
  /* flex-direction: column; */
  grid-template-columns: auto;
  }
}