.Layout {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-column-gap: 10px;
    margin: 0 10px;
}


@media (max-width: 1200px) {
    .Layout {
        grid-template-columns: 300px auto;
    }
}

@media (max-width: 950px) {
    .Layout {
        grid-template-columns: auto;
    }
}