
.Content {
    padding:5px;
}

.Event {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 105px;
    height: 230px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.HeaderImg {
    width: 92px;
    height: 138px;
}


.Title {
    font-size: 1.0em;
    font-weight: bold;
    color: #ffd700;
}

.AdditionalInfo {
    font-size: 0.8em;
    padding: 3px 0px;
}