.UserAdministration {
    margin: 0 10px;
    margin-top:3.5em;
    box-sizing: border-box;
}

.Panel {
    background-color: rgba(1, 1, 1, 0.253);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 15px;
}
.Header {
    font-weight: bold;
    color:#FFD700;
    margin-left: -10px;
    margin-bottom: 5px;
}

@media (max-width: 900px) {
    .Modal {

    }
}