* {
  box-sizing: border-box;
  color:white;
}

body {
  margin: 0;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #053f5e;
}

html {
  scroll-behavior: smooth;    
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
