.Menu {
    background-color: #012438;
    width: 100%;
    height: 3em;
    position: fixed;
    padding:0 50px;
    z-index: 90;
    top:0;
    left:0;
    /* border-bottom: 1px solid black; */
    box-shadow: 1px 1px 3px #141414;
    /* box-sizing: border-box; */
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.Logo {
    float: left;
    height: 100%;
    margin: 0 30px;
}

.Logo img{
    height: 100%;
    padding: 5px;
}

.Menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: flex; */
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.NavigationItem {
/* box-sizing: border-box; */
display: flex;
float:left;
height: 100%;
align-items: center;
margin: 0;
}

.NavigationItem a{
    text-decoration: none;
    height: 100%;
    padding: 16px 20px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    /* display:block; */
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    border-bottom: 2px solid #ffd700;
    background-color: #023857;
    }

.LoginPanel {
    float:right;
    display: flex;
    height: 3em;
}

.InputContainer {
    margin: auto 0;
    display: block;
}

.Input {
   
    padding: 3px;
    border: none;
    background-color: #053f5e;
    text-align: center;
    margin-right: 5px;
    width: 130px;
    transition: all 0.3s ease;

}

.SigninButton,
.LoginButton,
.LogoutButton{
    margin: auto 0;
    display: block;

    background-color: #06741e;
    color: white;
    font-size: 0.8em;
    border: none;
    font-family: inherit;
    font-weight: bold;
    height: 21px;
    border-right: 4px solid #012438;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.SigninButton {
margin-left:5px;
background-color: #012438;
}

.LogoutButton{
    background-color: #57030370;
    margin-left:10px;
}

.SigninButton:hover,
.LoginButton:hover,
.LogoutButton:hover{
border-right: 4px solid #ffd700;
}

.LoginInfo {
    margin: auto 0;
    display: flex;
    align-items: center;
}

.Invalid {
    background-color: #B22222;
}

.ButtonInvalid,
.ButtonInvalid:hover {
    border-right: 4px solid #012438;
    background-color: #2F4F4F;
}

@media (max-width:900px) {
    .Logo {
        display: none;
    }
}